.loading {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #031d36;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: #418FDE;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.container {
  margin: auto;
  width: 90%;
}

.nav {
  background-color: #418FDE;
  color: white;
  font-size: 16px;
}

.logout-btn {
  padding: 3px 10px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 1.25rem;
  transition: color 0.5s;
  margin-block: 5px;
}

.logout-btn:hover {
  color: rgb(135, 5, 5);
}

.navbrand {
  font-weight: 600;
  
}
.navbar-toggler{
  color: white !important;
  border: 1px solid white !important;
}
.navbar-toggler-icon{
  color: white !important;
}

.navLink {
  color: white !important;
  font-size: 1.25rem !important;
  transition: color 0.5s !important;
}

.navLink:hover {
  color: rgb(160, 5, 5) !important;
}

.home {
  min-height: 100vh;
}

.footer {
  background-color: #418FDE;
  padding: 20px;
  color: white;
  font-size: 1.5rem;
}

.register{
  flex-direction: column;
}
.register h2{
  display: none;
}
.register h1{
  font-size: 2rem;
  color: rgb(5, 5, 133);
  margin-block: 15px;
}
.register-img{
  margin-top: 20px;
}

.item{
  width: 100% !important;
}
.form{
  width: 100% !important;
  margin-bottom: 20px;
}

.pic{
  text-align: center;
}
.register-img{
  width: 70%;
align-self: flex-end !important;
}
.login-footer{
  justify-content: space-between;
  flex-direction: row;
}
/* Media screens */
@media (min-width:575.98px) {}

@media (min-width:767.98px) {}

@media (min-width:991.98px) {
  .form {
    width: 50%;

  }
  .register{
    flex-direction: row;
  }
.register h1{
  display: none;
}
.register-img{
  margin-block: 1.25rem;
  width: 100%;
}
  .pic{
    width: 50%;
  }
  .register{
    gap: 4rem;
  }
  .register h2{
    display: block;
    font-size: 3rem;
    color: rgb(5, 5, 133);
    margin-block: 15px;
    text-align: center;
  }
  .login-footer{
    justify-content: center !important;
    flex-direction: column;
    gap: 16px;
  }
}

@media (min-width:1199.98px) {}